# Workflow to check whether changes in a pull request fulfill all requirements.
# We execute build stages in separate jobs to prevent artifact duplication.
name: Status checks

on:
  pull_request:
  schedule:
    # Run every sunday at noon. The weekly run ensures that cached resources don't expire.
    - cron: "0 12 * * 0"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  # We make sure that lint succeeds before we start any other job to
  # prevent that the setup-build-environment action runs in parallel.
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./example
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - run: bundle exec fastlane lint

  unit-test:
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: .
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - run: flutter test

  build-prototypes-android:
    runs-on: ubuntu-latest
    needs: lint
    defaults:
      run:
        working-directory: ./example
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - run: flutter build apk -t lib/main.dart
      - uses: actions/upload-artifact@v4
        with:
          name: prototypes-android
          path: ./example/build/app/outputs/apk/release/*.apk
